.home-page{
    background: url("/src/assets/images/decorative-white-circle.svg") no-repeat -25% 35%,
    url("/src/assets/images/decorative-white-circle.svg") no-repeat  125% 27%;
    background-size: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.images-background{
    padding-top: 4.5%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.image-green-diamond > img{
    width: 15px;
    height: 15px;
}
.image-yellow-circle > img{
    width: 20px;
    height: 20px;
}

.home-page-info{
    padding-top: 3.5%;
    padding-bottom: 10%;
    width:80%;
    text-align: center;
    margin: auto;
}
.img-info{
    width: 80%;
    left: 10%;
    margin: auto;
}
.iphone{
    width: 100%;
}
.iphone:hover{
    scale: 0.8;
    animation: vibration 0.8s infinite linear;
}
@keyframes vibration {
    0% { transform: none; }
    50% { transform: rotate(15deg); }
    100% { transform: none; }
    
}

.app-properties{
    width:90%;
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

