
.drop-down-menu-content{
    display: none;
    position: absolute;
    min-width: 11rem;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0;
    box-shadow: 0 .4rem 1rem 0 var(--secondary-background);
    z-index: 1;
}
.drop-down-menu-content a{
    display: block;
    color: var(--primary-letter-color);
    text-align: left;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: var(--bold-font);
    border-bottom: .3px solid var(--secondary-background);
    padding: 15px;
}
.drop-down-menu:hover .drop-down-menu-content{
    display: block;
}