
.drop-down-menu-content{
    display: none;
    position: absolute;
    min-width: 11rem;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0;
    box-shadow: 0 .4rem 1rem 0 #E5EDF5;
    z-index: 1;
}
.drop-down-menu-content a{
    display: block;
    text-align: left;
    font-size: 14px;
    border-bottom: .3px solid #E5EDF5;
    padding: 15px;
}
.drop-down-menu:hover .drop-down-menu-content{
    display: block;
}